html, body {
  font-family: "Open Sans", sans-serif;
  color: #1b372e;
  height: 100%;
}
h3 {
  text-align: center;
}

table, {
  width: 100%;
}
table, td, tr, th{
    margin-left: 1px;
    margin-right: 1px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}
table.table tr:nth-child(even) {
    background-color: #eee;
}
table.table tr:nth-child(odd) {
   background-color: #fff;
}
table.table th {
    background-color: #35A8DF;
    color: white;
}

@media (min-width: 48em) {
  html {  
    font-size: 15px;
  }
}

@media (min-width: 58em) {
  html {
    font-size: 18px;
  }
}

@media (min-width: 48em) {
  .content {
    margin-left: 21rem;
    margin-right: 2rem;
  }
}

@media (min-width: 64em) {
  .content {
    margin-left: 22rem;
    margin-right: 3rem;
  }
}

/* Sidebar */
.sidebar {
  overflow: auto;
  text-align: center;
  padding: 1rem 1rem;
  color: white;
  background-color: #363636
;
  display: flex;
  flex-direction: column;
}
.sidebar .logo img {
  margin: -1em;
  height: 12rem;
  max-width: auto;
}
.sidebar.sidebar-default {
  background-color: #363636;
}
.sidebar.sidebar-green {
  background-color: #459D61;
}
.sidebar.sidebar-purple {
  background-color: #77518A;
}
.sidebar.sidebar-pink {
  background-color: #AD6AA9;
}
.sidebar.sidebar-red {
  background-color: #B05353;
}
.sidebar.sidebar-cyan {
  background-color: #5399B0;
}
.sidebar.sidebar-blue {
  background-color: #35A8DF;
}
.sidebar.sidebar-grey {
  background-color: #959492;
}
.sidebar.sidebar-orange {
  background-color: #DAA35C;
}


@media (min-width: 48em) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15rem;
    text-align: left;
  }

  .sidebar nav.external {
    position: absolute;
    margin-bottom: 0.1em;
    font-size: 80%;
  }
}

.site-title {
  margin-top: 0px;
}

.sidebar a,
.sidebar a:hover,
.sidebar a:visited {
  text-decoration: none;
  color: white;
}

.sidebar a:hover {
  color: rgb(223, 223, 223);;
}

.sidebar ul {
  margin: 0px;
  padding: 0px;
}

.sidebar ul li {
  list-style: none;
  padding-left: 2em;
}

nav {
  margin: 0.5em 0 0.5em 0;
}

.sidebar .navigation {
  flex: 1 0 auto;
}

.sidebar .version {
  font-size: 80%;
  text-align: right;
  padding: 2px;
}

.sidebar .external-title {
  text-align: center;
  font-size: 120%;
}

.external {
  margin-top: 1em;
  margin-bottom: -1em;
  position: relative;
  bottom: 0.1em;
  font-size: 80%;
}

#shortcuts {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#shortcuts img {
  margin: 0.5em;
  height: auto;
  max-width: 2rem;
  
}

/* Blocks */
.block {
  margin: 1em 0em 1em 0em;
  padding: 0 5px 5px 5px;
  border-top: 34px solid;
  position: relative;
  overflow-wrap: break-word;
}

.block:before {
  position: absolute;
  top: -32px;
  left: 10px;
  color: white;
}

.block.tip {
  background: #e8f7e6;
  border-top-color: #84c578;
}

.block.block.tip:before {
  content: "Tip";
}

.block.cowork {
  background: #e6f3fb;
  border-top-color: #6bb1e0;
}

.block.block.cowork:before {
  content: "Le cowork’in , c’est :";
  font-weight: bold;
}

.block.info {
  background: #fefaf5;
  border-top-color: #f1b37e;
}

.block.block.info:before {
  content: "Info";
}

.block.warn {
  background: #fbeded;
  border-top-color: #d58181;
}

.block.block.warn:before {
  content: "Warning";
}

/* Section of the page */
section.page {
  margin-bottom: 3rem;
}

section.page h1 {
  border-left: 2px solid #363636;
  padding-left: 0.5em;
  margin-bottom: 0;
}

section.page .content {
  margin-left: 0.5em;
}

section.page h1 a,
section.page h1 a:hover,
section.page h1 a:visited {
  text-decoration: none;
  color: #363636;
}

section.page a,
section.page a:hover,
section.page a:visited {
  color: #363636;
}

section div pre {
  overflow: auto;
}

section code {
  background-color: #fafafa;
}

section img {
  max-width: 100%;
}

.image img {
  position: relative;
  
  margin: 0 2rem 0 2rem;
  max-height: 10rem;
  width: auto;
}
#espace table, td, tr, th{
    border: 0px;
    padding-left: 1rem;
    padding-right: 1rem;
}
#espace table thead {
    background-color: #6bb1e0;
    color: white;
}
#espace table td {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #e6f3fb;
}
#espace table td {
  min-width: 10vh;
}