{{ if .Pages }}

        
                    <ul  id ="shortcuts" class="navbar-nav mr-auto">
                        {{ if .Sections }}
                            {{ range .Sections.ByWeight }}
                                {{ partial "menu_page_list.html" . }}
                            {{ end }}
                        {{ end }}
                        {{ range .Pages.ByWeight }}
                            <li class="nav-item"><a href="#{{ .Params.anchor }}">{{ .Title }}</a></li>
                        {{ end }}
                    </ul>
                

        
{{ end }}

