<div class="sidebar sidebar-{{ .Site.Params.sidebarColor}}">
    <div class="navigation">
        <a href="{{ .Site.BaseURL }}">{{ partial "logo.html" }}</a>	
        <!--<h1 class="site-title">{{ .Site.Title }}</h1>-->

	


        <nav class="internal">
            {{ partial "menu.html" . }}
        </nav>

        <nav class="external">
            <div class="external-title">{{ .Site.Params.externalTitle }}</div>
            {{ with .Site.Menus.shortcuts }}
            <div id="shortcuts">
                {{ range sort . "Weight" }}
                <span>
                    <a href="{{.URL}}" target="_blank" rel="noopener">{{.Pre}}{{safeHTML .Name}}{{.Post}}</a>
                </span>                
                    {{ end }}
            </div>
            {{ end }}
        </nav>
    </div>


</div>
